{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "node",

    "COSMOS_DB_CONNECTION_STRING": "",
    "STORAGE_ACCOUNT_NAME": "",
    "STORAGE_ACCOUNT_KEY": "",

    "DOC_INTEL_ENDPOINT": "",
    "DOC_INTEL_KEY": "",
    "DOC_INTEL_MODEL_ID": "",
    "DOC_INTEL_BOL_MODEL_ID": "",

    "DETECTOR_SERVICE_URL": "",
    "DETECTOR_SERVICE_KEY": ""
  },
  "Host": {
    "CORS": "*"
  }
}
